.pageNumbers{
    list-style: none;
    display: flex;
}

.pageNumbers li{
    padding: 11px;
    border: 1px solid blue; 
    cursor: pointer;
}

.pageNumbers li.active{
    background-color: yellow;
    color: grey;
}

.pageNumbers li button{
    background-color: green;
    border: none;
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
}

.pageNumbers li button:hover{
    background-color: darkcyan;
    color: black;
}

.pageNumbers li button:focus{
    outline: none;
}

.loadmore{
    padding: 1rem;
    background-color: transparent;
    color: purple;
    font-size: 1.2rem;
    border: 1px solid white;
}